html {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 12px;
	background-color: #244673;
}

body {
	width: 75%;
	margin: 0 auto;
	align-content: center;
	background-color: #F2D7B6;
	padding: 10px 20px 10px 20px; /*top, right, bottom, left. it goes clockwise*/
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: #343642;
	text-shadow: -5px 5px 10px Black;/* horizontal offset, vertical offest, blur rad, color */
}

p {
	color: #343642;
	font-size: 15px;
}

#inlinea {
	color: #446EA6;
}

li {
	background: #244673;
	font-size: 20px;
	color: #348899;
}

#chickenme {
	display: block;
	margin: 0 auto;
	width: 50%;
	background-color: blue;
}

#partymode {
	display: none;
	color: #962D3E;
	font-size: 25px;
	margin: -120px 0 106px 0;
	text-align: center;
}

.navitem {
	text-decoration: none;
	list-style: none;
	float: left;
	width: auto;
	margin: 20px 5px 20px 5px;
	padding: 10px 20px 10px 20px;
	background-color: #244673;
}

.main-nav {
	align-content: center;
	width: 100%;
	display: block;
	background-color: black;
	margin: 0 auto;
}

.nava {
	text-decoration: none;
	color: #F2D7B6;
}
