html {
  background-color: #03A6A6;
}

body {
  margin: 0 auto;
  width: 75%;
  min-height: 700px;
}

header {
  width: 100%;
}

#headerimg {
  margin: 0;
  width: 100%;
}

.mainNav {
  background-color: #FE736C;
}

.ulNav {
  padding: auto auto;
  height: 50px;
  margin: 0;
}

.nava {
  font-size: 20px;
  text-decoration: none;
  color: #F7D147;
}

li {
  list-style: none;
  float: left;
  text-align: center;
  border: 5px;
  width: 20%;
  margin: 13px 0px;
}

main {
  float: left;
  width: 75%;
  background-color: #3A7D7C;
}

article {
  float: right;
  width: 25%;
  margin-bottom: 50px;
  background-color: #3A7D7C;
}

.squarepics {
  width: 100px;
}

footer {
  width: 100%;
  padding: 15px 0 15px 15px;
  margin-top: 350px;
  background-color: #3A7D7C;
}
